!!! 5
html
	head
		title Snickers
		link(rel='stylesheet', href='http://s5o.ru/common/css/flags.css', type='text/css')
		link(rel='stylesheet', href='/stylesheets/snickers.css', type='text/css')
	body

		script(type='text/javascript', src='/javascripts/cufon/cufon-yui.js')
		script(type='text/javascript', src='/javascripts/cufon/PlumbSoft_900.font.js')

		//- include test.html
		script(type='text/javascript', src='http://code.jquery.com/jquery-1.7.1.min.js')
		script(type='text/javascript', src='/javascripts/jquery.easing.1.3.js')
		script(type='text/javascript', src='http://s5o.ru/thirdparty.js')
		script(type='text/javascript', src='/javascripts/templates.js')
		script(type='text/javascript', src='http://s5o.ru/common.min.js')
		script(type='text/javascript', src='/javascripts/snickers.js')