<div class="widget-snickers">
			<form class="send-snickers" action="">
				<span class="flag-select" onclick="alert('1')"><i class="flag-s flag-1301" alt="США" title="США"></i></span>
				<input class="send-s-but" type="button" value="" onclick="alert('2')"/>
				<div class="flag-select-dropdown" style="display:none;">
					<i class="fs-top"></i>
					<div class="fs-box">
						<i class="flag-s flag-1301" alt="США" title="США"></i><i class="flag-s flag-1301" alt="США" title="США"></i><i class="flag-s flag-1301" alt="США" title="США"></i><i class="flag-s flag-1301" alt="США" title="США"></i><i class="flag-s flag-1301" alt="США" title="США"></i><i class="flag-s flag-1301" alt="США" title="США"></i><i class="flag-s flag-1301" alt="США" title="США"></i><i class="flag-s flag-1301" alt="США" title="США"></i><i class="flag-s flag-1301" alt="США" title="США"></i><i class="flag-s flag-1301" alt="США" title="США"></i><i class="flag-s flag-1301" alt="США" title="США"></i><i class="flag-s flag-1301" alt="США" title="США"></i><i class="flag-s flag-1301" alt="США" title="США"></i><i class="flag-s flag-1301" alt="США" title="США"></i><i class="flag-s flag-1301" alt="США" title="США"></i><i class="flag-s flag-1301" alt="США" title="США"></i>
					</div>
					<i class="fs-bot"></i>
				</div>
			</form>
			<div class="widget-foot">
				<!-- { -->
				<div class="scrolling-flags">
					<span class="prevPage browse left disabled">Пред.</span>
					<span class="nextPage browse right">След.</span>
					<div class="scrollable-flag">
						<div class="items-f">
							<div class="scroll-item-f">
								<img src="/images/snickers/flag1.png" alt="" />
								<span class="counter">131</span>
							</div>
							<div class="scroll-item-f">
								<img src="/images/snickers/flag2.png" alt="" />
								<span class="counter">13831</span>
							</div>
							<div class="scroll-item-f">
								<img src="/images/snickers/flag3.png" alt="" />
								<span class="counter">1331</span>
							</div>
							<div class="scroll-item-f">
								<img src="/images/snickers/flag1.png" alt="" />
								<span class="counter">13831</span>
							</div>
							<div class="scroll-item-f">
								<img src="/images/snickers/flag2.png" alt="" />
								<span class="counter">131</span>
							</div>
							<div class="scroll-item-f">
								<img src="/images/snickers/flag3.png" alt="" />
								<span class="counter">13831</span>
							</div>
						</div>

					</div>
				</div>
				<!-- } -->
			</div>
		</div>
		
		<div class="widget-snickers">
			<form class="send-snickers" action="">
				<span class="flag-select" onclick="alert('1')"><i class="flag-s flag-1301" alt="США" title="США"></i></span>
				<input class="send-s-but" type="button" value="" onclick="alert('2')"/>
				<div class="flag-select-dropdown">
					<i class="fs-top"></i>
					<div class="fs-box">
						<i class="flag-s flag-1301" alt="США" title="США"></i><i class="flag-s flag-1301" alt="США" title="США"></i><i class="flag-s flag-1301" alt="США" title="США"></i><i class="flag-s flag-1301" alt="США" title="США"></i><i class="flag-s flag-1301" alt="США" title="США"></i><i class="flag-s flag-1301" alt="США" title="США"></i><i class="flag-s flag-1301" alt="США" title="США"></i><i class="flag-s flag-1301" alt="США" title="США"></i><i class="flag-s flag-1301" alt="США" title="США"></i><i class="flag-s flag-1301" alt="США" title="США"></i><i class="flag-s flag-1301" alt="США" title="США"></i><i class="flag-s flag-1301" alt="США" title="США"></i><i class="flag-s flag-1301" alt="США" title="США"></i><i class="flag-s flag-1301" alt="США" title="США"></i><i class="flag-s flag-1301" alt="США" title="США"></i><i class="flag-s flag-1301" alt="США" title="США"></i>
					</div>
					<i class="fs-bot"></i>
				</div>
			</form>
			<div class="widget-foot">
				<!-- { -->
				<div class="scrolling-flags">
					<span class="prevPage browse left disabled">Пред.</span>
					<span class="nextPage browse right">След.</span>
					<div class="scrollable-flag">
						<div class="items-f">
							<div class="scroll-item-f">
								<img src="/images/snickers/flag1.png" alt="" />
								<span class="counter">131</span>
							</div>
							<div class="scroll-item-f">
								<img src="/images/snickers/flag2.png" alt="" />
								<span class="counter">13831</span>
							</div>
							<div class="scroll-item-f">
								<img src="/images/snickers/flag3.png" alt="" />
								<span class="counter">1331</span>
							</div>
							<div class="scroll-item-f">
								<img src="/images/snickers/flag1.png" alt="" />
								<span class="counter">13831</span>
							</div>
							<div class="scroll-item-f">
								<img src="/images/snickers/flag2.png" alt="" />
								<span class="counter">131</span>
							</div>
							<div class="scroll-item-f">
								<img src="/images/snickers/flag3.png" alt="" />
								<span class="counter">13831</span>
							</div>
						</div>

					</div>
				</div>
				<!-- } -->
			</div>
		</div>
		
		<div class="widget-snickers widget-s-result">
			<div class="flag-result"><img src="/images/snickers/flag1.png" alt="" /></div>
			<div class="widget-foot">
				<div class="widget-social-box">
					<div class="social-icons-big"><a class="soc fb" href="#"></a><a class="soc vk" href="#"></a><a class="soc tw" href="#"></a></div>
				</div>
			</div>
		</div>
		<script type="text/javascript"> Cufon.now(); </script>